.search-pokemon {
  border-width: 0 0 2px 0;
}
.display-type {
  display: flex;
  justify-content: space-around;
  width: 64px;
  margin-left: auto;
  padding: 5px 5px;
  background-color: #21252920;
  user-select: none;
  img {
    filter: grayscale(1);
    &:hover, &.active {
      filter: grayscale(0);
    }
  }
}