.pokemon-card {
  position: relative;
  display: flex;
  width: 96px;
  height: 96px;
  .infos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    top: 0;
    left: 0;
    transition: ease .5s;
    max-height: 0%;
    top: 50%;
    background-color: #363636bf;
    z-index: 50;
  }
  &:hover .infos {
    top: 0%;
    max-height: 100%;
  }
  
}